<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Support for &lt;a href="http://en.wikipedia.org/wiki/OpenCL#OpenCL_language"&gt;OpenCL&lt;/a&gt;.</string>
</dict>
</plist>